body {
    margin: 0;
    padding: 0;
}

#bg {
    background-image: url('globe.gif');
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.topicSearch {
    width: 80vw;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    margin: 25vh calc(10vw - 1px) 0;
    font-family: monospace;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0 10px 0px rgb(255 255 255 / 50%);
}

.startSourceDiv {
    width: calc(80vw - 2px);
    margin: 30px 10vw 0;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid white;
}

.startSource {
    width: 30%;
    border-radius: 30px;
    height: 15vw;
    background: rgb(255 255 255 / 75%);
    display: inline-block;
    margin: calc(2.5vw - 15px) calc(10% - 15px);
    font-family: monospace;
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.startSource input {
    width: 80%;
    height: fit-content;
    font-size: 4em;
    font-family: monospace;
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

.pSource {
    color: red;
}

.sSource {
    color: blue;
}

.startTitle {
    text-shadow: 1px 1px 3px #1f1f1f;
}

.startTitle span {
    font-size: 1.5em;
    display: block;
    margin: 10px 0;
}

.TPHandle {
    position: fixed;
    bottom: 0;
    width: 20vw;
    font-family: monospace;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.5em;
    margin: 0 40vw;
    /*animation-duration: 1s;*/
    transition: bottom 1s;
}

.TPMain {
    width: 85vw;
    height: 85vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: -85vh;
    background: rgb(212 212 212 / 95%);
    margin: 0 7.5vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: bottom 1s;
}

.promptBGContainer {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(5px);
    transition: opacity 1s;
    filter: opacity(0);
}

.promptContainer {
    width: 80vw;
    height: 80vh;
    background: rgb(212 212 212 / 95%);
    border-radius: 20px;
    margin: 10vh auto;
    color: #444444;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 0 0 10px 0px black;
}

.promptTitle {
    font-size: 4em;
    text-align: center;
    font-family: monospace;
    width: fit-content;
    margin: 35px auto;
    padding-top: 20px;
}

.topicTitle {
    display: block;
    width: 90%;
    margin: 15px auto;
    font-family: monospace;
    font-size: 1.5em;
    background: rgb(255 255 255 / 75%);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.sourceDesc {
    width: 90%;
    height: 3.3em;
    display: block;
    font-size: 1.25em;
    margin: 25px auto;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 20vh;
}

.topicDesc {
    width: 90%;
    height: 3.3em;
    display: block;
    font-size: 1.25em;
    margin: 15px auto;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 45vh;
}

.topicSubButt {
    border-radius: 5px;
    font-family: monospace;
    padding: 10px;
    font-size: 1.75em;
    display: block;
    margin-top: calc(70vh - 1.75em - 44px);
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sourceFile {
    width: 90%;
    margin: 15px auto;
    display: block;
    font-size: 1.5em;
    font-family: monospace;
    text-overflow: ellipsis;
}

.topicLink {
    display: block;
    width: 90%;
    margin: 15px auto;
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
    background: rgb(255 255 255 / 75%);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.titleDescDiv {
    float: left;
    width: 50%;
}

.linkFileDiv {
    float: right;
    width: 50%;
}

.pPrompt {
    background: rgb(212 180 180 / 95%);
    box-shadow: inset 0 0 10px 0px rgb(120 0 0);
}

.sPrompt {
    background: rgb(180 180 212 / 95%);
    box-shadow: inset 0 0 10px 0px rgb(0 0 120);
}

.targetFrame {
    display: none;
}

.promptContainer hr {
    width: 75%;
    margin: 0 auto;
    border-color: grey;
}

.topicListDiv {
    width: 90%;
    box-shadow: 0 0 3px 0 inset black;
    background: rgb(255 255 255 / 25%);
    border-radius: 10px;
    margin: 10px auto;
    font-family: monospace;
    font-size: 1.75em;
    padding: 5px;
}

.topicListDiv a {
    text-decoration: none;
    display: block;
    width: calc(100% - 10px);
    margin: 0 0 0 10px;
    color: black;
    text-decoration: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topicListDiv span {
    display: block;
    width: 100%;
    text-align: right;
    font-size: .75em;
    color: #555555;
}
