body {
    margin: 0;
    padding: 0;
}

#bg {
    background-image: url('globe.gif');
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -110;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header {
    position: fixed;
    width: 100vw;
    background: rgb(127 127 127 / 25%);
    backdrop-filter: blur(10px);
    color: white;
    height: 10vh;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px 0 white;
    z-index: 2;
}

.mainTopicTitle {
    font-size: 8vh;
    font-family: monospace;
    float: left;
    display: inline-block;
    font-weight: bold;
    margin: .5vh 15px;
    text-shadow: 1px 1px 3px BLACK;
    width: calc(95% - 30px);
    height: 90%;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeButt {
    border-radius: 100%;
    height: 2em;
    padding: .5em;
    background: rgb(255 255 255 / 75%);
    box-shadow: inset 0 0 5px 0 black;
}

.display {
    background: rgb(255 255 255 / 85%);
    width: 100%;
    height: 90%;
    display: inline-flex;
    border-radius: 30px;
    box-shadow: inset 0 0 10px 0 black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.displayMenu {
    height: 10%;
    width: 100%;
    margin: 0;
    background: rgb(255 255 255 / 85%);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
}

.mainContain {
    position: fixed;
    width: calc(100Vw - 30px);
    left: 0;
    bottom: 5vh;
    height: calc(80vh - 30px);
    background: rgb(127 127 127 / 25%);
    backdrop-filter: blur(10px);
    padding: 15px;
    z-index: 1;
    box-shadow: 0 0 10px 0 white;
}

.sourceList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.DMButt {
    width: calc(33.4%);
    border: none;
    font-family: monospace;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 3.5vh;
}

.topicDesc {
    width: calc(100% - 20px);
    color: black;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(95% - 10px - 2.5em);
    box-shadow: inset 0 0 10px 0 black;
    border-radius: 30px;
    padding: 10px;
}

.topicDesc span {
    font-size: .75em;
    font-weight: normal;
    display: block;
    text-align: left;
    margin: 7.5px 20px;
    border-bottom: 1px black solid;
}

.topicID {
    float: right;
    font-family: monospace;
    font-size: 1.5em;
    padding: .5em;
}

.noSourceMsg {
}

.sourcePreview {
    margin: 5px;
    float: left;
    max-height: calc(100% - 10px);
    width: calc(7.5% - 10px);
    display: inline-block;
}

.sourceDiv {
    width: 95%;
    padding: 0;
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    height: 15%;
    margin: 10px auto;
}

.sourceDesc {
    float: left;
    width: calc(85% - 6px);
    display: inline-block;
    font-size: 3vh;
    text-decoration: none;
    font-family: monospace;
    text-align: left;
    color: black;
    padding: 3px;
    box-shadow: inset 0 0 3px 0 black;
    text-overflow: ellipsis;
    text-wrap: pretty;
    overflow: hidden;
    height: calc(100% - 6px);
}

.sourceDescAdm {
    width: calc(80% - 6px);
}

.sourceDelButt {
    float: inline-end;
    border: none;
    box-shadow: inset 0 0 5px 0 black;
    color: red;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 black;
    background: rgb(255 250 240 / 50%);
    margin: 0 auto;
    font-size: 1.50em;
}

.addSourceButt {
    width: 100%;
    padding: 0;
    box-shadow: inset 0 0 5px 0 black;
    border-radius: 10px;
    height: 15%;
    margin: 5px 0;
    font-family: monospace;
    font-size: 4vh;
}

.openDown {
    max-height: calc(100% - 20px);
    width: calc(7.5% - 20px);
    float: right;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 0 5px 0 black inset;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.openDownSource {
    height: calc(100% - 20px);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px 0 black;
    background: rgb(255 250 240 / 50%);
    margin: 0 auto;
}

.promptBGContainer {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(5px);
    transition: opacity 1s;
    filter: opacity(0);
}

.promptBGContainer {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    backdrop-filter: blur(5px);
    transition: opacity 1s;
    filter: opacity(0);
}

.promptContainer {
    width: 80vw;
    height: 80vh;
    background: rgb(212 212 212 / 95%);
    border-radius: 20px;
    margin: 10vh auto;
    color: #444444;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 0 0 10px 0px black;
}

.promptTitle {
    font-size: 4em;
    text-align: center;
    font-family: monospace;
    width: fit-content;
    margin: 35px auto;
    padding-top: 20px;
}

.topicTitle {
    display: block;
    width: 90%;
    margin: 15px auto;
    font-family: monospace;
    font-size: 1.5em;
    background: rgb(255 255 255 / 75%);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.sourceDescPrompt {
    width: 90%;
    height: 3.3em;
    display: block;
    font-size: 1.25em;
    margin: 25px auto;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 30vh;
}

.topicDescPrompt {
    width: 90%;
    height: 3.3em;
    display: block;
    font-size: 1.25em;
    margin: 15px auto;
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 45vh;
}

.topicSubButt {
    border-radius: 5px;
    font-family: monospace;
    padding: 10px;
    font-size: 1.75em;
    display: block;
    margin: 10px auto;
}

.sourceFile {
    width: calc(50% - 22px);
    padding: 15px 10px;
    display: inline;
    font-size: 1.5em;
    font-family: monospace;
    text-overflow: ellipsis;
    border-left: 2px solid grey;
    float: right;
}

.topicLink {
    display: inline-block;
    width: calc(50% - 24px);
    margin: 15px 10px;
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
    background: rgb(255 255 255 / 75%);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    float: left;
}

.titleDescDiv {
    float: left;
    width: 50%;
}

.linkFileDiv {
    width: 100%;
    margin: 0 auto;
}

.pPrompt {
    background: rgb(212 180 180 / 95%);
    box-shadow: inset 0 0 10px 0px rgb(120 0 0);
}

.sPrompt {
    background: rgb(180 180 212 / 95%);
    box-shadow: inset 0 0 10px 0px rgb(0 0 120);
}

.targetFrame {
    display: none;
}

.promptContainer hr {
    width: 75%;
    margin: 0 auto;
    border-color: grey;
}

.previewDiv {
    float: left;
    background: rgb(255 250 240 / 50%);
    width: calc(50% - 40px);
    height: calc(80% - 40px);
    margin: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px 0 black;
}

.previewIframe {
    pointer-events: none;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
    border: none;
}

.previewImg {
    height: 100%;
    max-width: calc(100% - 40px);
    display: block;
    margin: 0 auto;
}

.previewVid {
    height: 100%;
    max-width: calc(100% - 40px);
    display: block;
    margin: 0 auto;
}

.previewAud {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url("audio.png");
    background-repeat: no-repeat;
    background-position: center;
}

.previewOth {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.descP {
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
}

.sourceButtMenu {
    90%:; width: 90%;
    height: calc(20% - 30px);
    margin: 10px 5% 20px;
    float: inline-end;
    display: flex;
    justify-content: space-between;
}

.descDiv {
    float: right;
    width: calc(50% - 70px);
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 black;
    height: calc(80% - 70px);
    padding: 15px;
    font-size: 1.75em;
    background: rgb(255 250 240 / 50%);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.searchDiv {
    display: block;
    padding: 10px;
    width: calc(80% - 20px);
    margin: 0 auto;
    height: calc(92.5% - 150px);
    opacity: 0;
    transition: opacity 1s;
    border: none;
    box-shadow: 0 0 5px 0 black;
    overflow-x: hidden;
    border-radius: 20px;
    overflow-y: auto;
}

.RTSearchBar {
    display: inline-block;
    width: 80%;
    font-size: 2em;
    margin: 50px 10% 30px;
    text-align: center;
    font-family: monospace;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid black;
    background: none;
    height: 7.5%;
}

.resultDiv {
    width: calc(100% - 20px);
    height: calc(20% - 20px);
    background: rgb(255 255 255 / 25%);
    border-radius: 20px;
    padding: 10px;
    margin: 10 0;
    font-family: monospace;
    box-shadow: inset 0 0 3px 0 black;
    font-size: 2em;
}

.resultDiv a {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
    float: left;
    width: 90%;
    display: inline-block;
}

.resultDiv span {
    font-size: .9em;
    color: #555555;
    width: 10%;
    display: inline-block;
    text-align: center;
    height: 100%;
    float: right;
}

.relatedDiv {
    width: calc(100% - 20px);
    height: calc(20% - 20px);
    background: rgb(255 255 255 / 25%);
    border-radius: 20px;
    padding: 10px;
    margin: 10 0;
    font-family: monospace;
    box-shadow: inset 0 0 3px 0 black;
    font-size: 2em;
}

.relatedA {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
    float: left;
    width: 90%;
    display: inline-block;
}

.relatedAAdm
{
    width: 80%;
}

.unlinkButt
{
    height: calc(100% - 10px);
    float: inline-end;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 0 black;
}

.relatedDiv span {
    font-size: .9em;
    color: #555555;
    width: 10%;
    display: inline-block;
    text-align: center;
    height: 100%;
    float: right;
}

.skipButt {
    width: 10vw;
    height: 10vw;
    background: radial-gradient(white, rgb(255 255 255 / 50%), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%));
    color: black;
    position: fixed;
    top: calc(50vh - 5vw);
    border: none;
    border-radius: 100%;
    font-size: 5em;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.homeTopicDiv {
    margin: 0 0 10px;
}

.loginButt {
    padding: 10px;
    margin: 5px;
    height: calc(100% - 30px);
    border-radius: 100%;
    max-width: calc(5% - 10px);
    background: radial-gradient(white, rgb(255 255 255 / 50%), transparent);
    float: right;
}

.accountDiv {
    position: fixed;
    right: 5%;
    width: 14vw;
    font-family: monospace;
    top: 1vh;
    transition: opacity 1s;
    opacity: 0;
    background: rgb(255 255 255 / 75%);
    border-radius: 10px;
    padding: 5px;
    font-size: 1.25em;
    box-shadow: inset 0 0 5px 0 black;
    height: fit-content;
    color: #3e3e3e;
}

.accountDiv div {
    margin: 5px;
}

.accountInfo {
    float: right;
    display: inline-block;
    width: 50%;
    text-align: right;
}

.accountInfoLabel {
    float: left;
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.logoff {
    width: 80%;
    margin: 10px 10% 4px;
    font-size: 1.25em;
    font-family: monospace;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px 0 black;
}

.accountButt {
    display: block;
    width: 100%;
    height: 50%;
    font-size: 1em;
    border-radius: 20px;
    margin: 5px 0;
    padding: 0px;
    font-family: monospace;
    border: none;
    box-shadow: 0 0 5px 0 black;
}

.regDiv {
    width: 40vw;
    margin: 30px 0;
    height: calc(85% - 90px);
    padding: 10px;
    box-shadow: inset 0 0 5px 0 black;
    border-radius: 20px;
}

.regDiv input {
    width: 80%;
    display: block;
    margin: 40px auto;
    font-size: 1.5em;
    font-family: monospace;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid black;
    background: none;
    padding: 10px;
}

.regSubmit {
    display: block;
    font-size: 2em;
    font-family: monospace;
    padding: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px 0 black;
    margin: auto;
    height: calc(15% - 15px);
}

.colorDiv {
    width: 80%;
    margin: 0 auto;
}

.colorDiv label {
    display: inline-block;
    font-size: 1.5em;
    font-family: monospace;
    width: 50%;
}

.colorDiv input {
    width: 50%;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
}

.wholeDisplay {
    display: inline-block;
    width: 75%;
    height: 100%;
}

.commentsDiv {
    background: rgb(255 255 255 / 85%);
    width: calc(25% - 10px);
    height: 100%;
    display: inline-block;
    margin: 0 0 0 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 10px 0 black;
    float: inline-end;
}

.commenstTitle {
    font-size: 2em;
    font-family: monospace;
    width: 100%;
    box-shadow: 0 0 5px 0 black;
    display: block;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 0;
}

.commentChat {
    height: calc(100% - 2em - 20px);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.respondDiv {
    float: inline-end;
    width: 100%;
    height: 0;
    box-shadow: 0 0 5px 0 black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.textBox {
    height: 70%;
    display: block;
    width: 100%;
    float: inline-start;
    border: none;
    margin: 0;
    padding: 0 5px;
    border: none;
}

.sendButton {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    border: none;
    font-size: 1em;
    height: 30%;
    padding: 0;
    float: inline-end;
    margin: 0;
}

.chatBubble {
    border-radius: 5px;
    padding: 10px;
    width: 85%;
    margin: 5px auto;
    border-bottom-right-radius: 0;
    font-size: 1.25em;
    font-family: monospace;
}

.chatUser {
    display: block;
    width: 100%;
    text-align: right;
    font-size: .75em;
    font-weight: bold;
}

.chatMess {
    width: 100%;
    display: block;
    height: fit-content;
}
